<section class="footer">
    <div class="footeritems map"></div>
    <div class="footeritems text">
        <h4>FAQ - Często zadawane pytania</h4>
        <a role="link" 
        href="/articles/gallery"
        >Przykłady realizacji</a> 
        <a role="link" 
        f="/articles/szparowanie"
        >Co to jest szparowanie?</a> 
        <a role="link" 
        f="/articles/jak_to_dziala"
        >Jak to działa?</a> 
        <a role="link" 
        f="/articles/opcje_platnosci"
        >Jak mogę zapłacić?</a> 
        <a role="link" 
        href="/#prices"
        >Koszt obróbki (cennik)</a> 
        <a role="link" 
        f="/articles/regulamin">Regulamin</a> 
        <a role="link" 
        f="/articles/polityka_prywatnosci"
        >Polityka prywatności</a> 
        </div>
    <div class="footeritems text contacts" >
    Graficy:
    <a href="">info@szparowanie.pl</a>

Faktury:
<a href="">faktury@szparowanie.pl</a>

Telefon:
<a href="tel:+48796787979">+48 796787979</a>
<small>
    Czynne od poniedziałku do piątku <br>
    w godzinach między 8:00 a 16:00
</small>
</div>
    <div class="footeritems text">
        <h4>Artykuły - baza wiedzy</h4>
<a role="link" f="/articles/jak_usunac_tlo">Jak usunąć tło ze zdjęicia</a>
<a role="link" f="/articles/dlaczego_biale_tlo">Dlaczego białe tło?</a>
    </div>
</section>