
   <section class="signin">


    <div class="left">
        <div class="message">
            <div class="danger"><%=message%></div>
        </div>
        <h1>Login to <br>
        ADMIN CONTROL PANEL</h1>
        
    </div>
    <div class="right">

        <form id="signin" name="signin" method="post" action="admin_login">
            <label for="email">Email Address</label>
            <input class="text" name="email" type="text" required/>
            <label for="password">Password</label>
            <input name="password" type="password" required/>
            <input class="btn" type="submit" value="Sign In" />
        </form>
    </div>

</section>
