<section class="article">
    <article>
    <h1>Opcje płatności</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum dictum massa eget dignissim. Aliquam
        consequat placerat tellus vel porta. Sed non ante et velit iaculis vestibulum. Sed accumsan iaculis mi ac
        congue. Mauris placerat vehicula ex, rhoncus tincidunt massa fringilla eu. Suspendisse non metus faucibus,
        posuere eros sit amet, semper tortor. Donec aliquam condimentum accumsan. Vestibulum tempor dui mattis tellus
        condimentum, nec aliquam eros sodales.  
</p>
</article>
</section>