<section class="accept">
   <div class="progress_icons">
     <div class="icon active">
       <img src="/img/svg/upload.svg" alt="Upload">
       <p>        stwórz zlecenie</p>

     </div>
     <div class="arrow"></div>
     <div class="icon active">
       <img src="/img/svg/accept.svg" alt="Upload">
       <p>        potwierdź</p>
     </div>
     <div class="arrow"></div>
     <div class="icon active">
       <img src="/img/svg/card_white.svg" alt="Upload">
       <p>        opłać</p>
     </div>
     <div class="arrow"></div>
     <div class="icon">
       <img src="/img/svg/download.svg" alt="Upload">
       <p>        pobierz zdjęcia</p>
     </div>
   </div>
   <div style="min-height: 50vh; justify-content: center;" class="progress_content">
      <h2 style="color:green; padding-bottom: 1em;">Dziękujemy za przesłanie potwierdzenia.</h2>
      <h3>Po zaksięgowaniu wpłaty, na podany adres e-mail (<span style="text-decoration:underline; color: green;"><%= data[0].dataValues.user_email %></span> ) wyślemy link do pobrania paczki z plikami.</h3>
      <h3 style="padding-bottom:1em;">Do usłyszenia!</h3>
  
      Zaloguj się aby zobaczyć pełną listę swoich zleceń. 
      
      <a style="text-decoration: underline;" href="/signup">Zobacz swoje zlecenia</a>
   </div>


   </section>
   
